.nav a {
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 20px;
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image: url('http://intuneshack.com/communities/8/000/001/788/268//images/10735085.jpg');
  height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 6px;
  border-color: #fffggg;
}

.jumbotron .container {
  position: relative;
  top: 50px;
  width: 100%;
  color: #000;
}

.jumbotron .container h1 {
  color: white;
  text-align: center;
  font-size: 90px;
  font-family: 'Kameron', sans serif;
  font-weight: 400;
  border-top-style: double;
  border-width: 22px;
  border-color: #EFEFEF;
  padding: 10px 0px 0px 0px;
  text-shadow: 5px 4px 5.5px black;
}

.jumbotron .container p {
  font-size: 25px;
  text-align: center;
  color: white;
  border-bottom-style: double;
  border-width: 22px;
  border-color: #EFEFEF;
  padding: 10px;
  text-shadow: 3px 3px 3px black;
}

.jumbotron .learn {
  text-align: center;
}

.learn-more {
  background-color: #EDF3F5;
}
.dealership-site {
  background-color: white;
  border-bottom: 5px solid #dbdbdb;
  font-family: 'Helvetica', sans-serif;
  margin: 0 auto;
  width: 100%;
}

.dealership-site h2 {
  color: black;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-size: 24px;
}

.dealership-site p {
  font-size: 15px;
  margin-bottom: 13px;
  text-align: center;
}

.learn-more h3 {
  font-family: 'Helvetica', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: black;
}
.learn-more p {
  color: black;
}
.thumbnail {
  transition: box-shadow 1s;
}
.thumbnail:hover {
  box-shadow: 23px 23px 25px #000;
  transition: box-shadow .2s;
  opacity: 0.75;
}


img {
  border-radius: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
